<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/Login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Login/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/Login/css/style.css">
    <link rel="shortcut icon" href="~/ExtraClasses/logo.png" />
    <title>Login </title>
    <style>

        a.btn.btn-block.btn-primary {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            text-decoration: none;
            margin: 0 !important;
            padding: 0;
        }

        .manages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            margin-top: 5px;
        }

        .half .contents .form-control, .half .bg .form-control {
            border: none;
            -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
            border-radius: 4px;
            height: 54px;
            background: #292f34;
            color: #fff;
        }

        label {
            color: #fff;
        }
    </style>
</head>
<body>
    @RenderBody()

    <script src="~/Login/js/jquery-3.3.1.min.js"></script>
    <script src="~/Login/js/popper.min.js"></script>
    <script src="~/Login/js/bootstrap.min.js"></script>
    <script src="~/Login/js/main.js"></script>
</body>
</html>