<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Dashboard/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Dashboard/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Dashboard/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Dashboard/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/Dashboard/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Dashboard/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Dashboard/css/vertical-layout-dark/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/ExtraClasses/logo.png" />
</head>

<body>
   @RenderBody()
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Dashboard/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Dashboard/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Dashboad/js/off-canvas.js"></script>
    <script src="~/Dashboard/js/hoverable-collapse.js"></script>
    <script src="~/Dashboard/js/template.js"></script>
    <script src="~/Dashboard/js/settings.js"></script>
    <script src="~/Dashboard/js/todolist.js"></script>
    <!-- endinject -->
</body>


</html>
